<div class="login-card">

    <h5 class="text-muted text-center">Log in to</h5>
    <h2 class="brand-title text-center mb-4">Admin</h2>

    <form action="/login" method="POST">

        <div class="mb-3">
            <input type="email" name="email" class="form-control custom-input" placeholder="Your Email" required>
        </div>

        <div class="mb-3">
            <input type="password" name="password" class="form-control custom-input" placeholder="Your Password" required>
        </div>

        <button type="submit" class="btn login-btn w-100">Log in</button>

        <div class="text-center mt-4">
            <small class="text-muted">Forgot password?</small>
        </div>

    </form>

</div>
