<h3 class="mt-4">i am popup</h3>
<form action="/popup/add" method="POST" enctype="multipart/form-data">    
<div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" name="title">
    </div>
    <div class="mb-3">
        <label class="form-label">Type</label>
        <input class="form-control" name="type" rows="3" placeholder="e.g. residency..">
    </div>

    <div class="mb-3">
        <label class="form-label">location</label>
        <input class="form-control" name="location" rows="3" placeholder="jaipur,udaipur..">
    </div>

    <div class="mb-3">
        <!-- <label class="form-label">Image</label> -->
        <input type="file" name="image">
    </div>

    <div class="mt-4 mb-5">
        <button type="submit" class="btn btn-primary">
            Submit Popup
        </button>
    </div>
    </form>