<div class="row g-4">

    <div class="col-md-4">
        <div class="stat-card">
            <h6>Total Blogs</h6>
            <h3><%= blogCount %></h3>
        </div>
    </div>

    <div class="col-md-4">
        <div class="stat-card">
            <h6>Total Projects</h6>
            <h3><%= projectCount %></h3>
        </div>
    </div>

    <div class="col-md-4">
        <div class="stat-card">
            <h6>Total Contacts</h6>
            <h3><%= contactCount %></h3>
        </div>
    </div>

</div>
